# .NET Core artifacts
sources/bin
sources/obj

# Docker Compose artifacts
compose/docker-engine-api/.env
compose/port-checking++/.env
compose/service-healthy/.env

# Hard symbolic links
compose/docker-engine-api/sources/*
!compose/port-checking++/sources/EMPTY

compose/port-checking++/sources/*
!compose/port-checking++/sources/EMPTY

compose/service-healthy/sources/*
!compose/service-healthy/sources/EMPTY